<a href="https://colab.research.google.com/github/MPetrinovic/Personal-Projects/blob/main/Rje%C5%A1enje_Modeli_strojnog_u%C4%8Denja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


data = pd.read_csv('schools_data.csv')
data.shape

work_data = data.copy()
work_data.sample(5)

     school sex  age address  ... health absences  repeated  data_perimeter
2889     RC   M   18   Urban  ...      5       10         0           train
137      MS   F   16   Urban  ...      1       10         0           train
360      MS   F   15   Urban  ...      5        0         0           train
6935     GP   F   15   Urban  ...      1        4         0           train
2265     RC   M   17   Rural  ...      5        0         1      validation

[5 rows x 32 columns]

In [10]:
work_data['sex'][work_data['sex'] == 'M'] = 1
work_data['sex'][work_data['sex'] == 'F'] = 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
work_data['address'][work_data['address'] == 'Urban'] = 1
work_data['address'][work_data['address'] == 'Rural'] = 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
work_data['famsize'][work_data['famsize'] == '>3'] = 1
work_data['famsize'][work_data['famsize'] == '<=3'] = 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
work_data['Pstatus'][work_data['Pstatus'] == 'Married'] = 1
work_data['Pstatus'][work_data['Pstatus'] == 'Divorced'] = 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
TFlist = ['schoolsup', 'famsup','paid','activities','nursery','higher','internet','romantic']
work_data[TFlist] = work_data[TFlist]*1

In [32]:
work_data['traveltime'][work_data['traveltime'] == 1] = '< 15'
work_data['traveltime'][work_data['traveltime'] == 2] = '15-30'
work_data['traveltime'][work_data['traveltime'] == 3] = '30-60'
work_data['traveltime'][work_data['traveltime'] == 4] = '> 60'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
work_data['studytime'][work_data['studytime'] == 1] = '<2'
work_data['studytime'][work_data['studytime'] == 2] = '2-5'
work_data['studytime'][work_data['studytime'] == 3] = '5-10'
work_data['studytime'][work_data['studytime'] == 4] = '>10'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
work_data.sample(6)

     school sex  age address  ... health absences  repeated  data_perimeter
3279     RC   0   17       1  ...      4        0         1           train
6675     GP   0   16       1  ...      1        6         0           train
6907     GP   1   17       1  ...      5        4         0      validation
6815     GP   1   18       1  ...      4        0         0      validation
1147     MS   1   21       0  ...      3        3         1      validation
464      MS   1   15       1  ...      1        0         0      validation

[6 rows x 32 columns]

In [36]:
X_train = work_data[work_data['data_perimeter'] == 'train']
X_test = work_data[work_data['data_perimeter'] == 'validation']

In [38]:
X_train = X_train.drop(['data_perimeter'],axis=1)

In [41]:
X_test = X_test.drop(['data_perimeter'],axis=1)

In [44]:
y_train = X_train['repeated'].values
y_test = X_test['repeated'].values

In [45]:
X_train = X_train.drop(['repeated'],axis=1)
X_test = X_test.drop(['repeated'],axis=1)

In [48]:
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

In [49]:
from imblearn.over_sampling import SMOTE

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [50]:
oversample = SMOTE()
X_train, y_train = oversample.fit_resample(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)